* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}
/* .buttons {
    
    
    
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
} */
.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: black;
}
.container {
    width: 1000px;
   margin: auto;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.title {
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
    
}
.TeamOne, .TeamTwo {
    width: 50%;
    float: left;
    height: 60vh;
    padding: 40px;
    border: solid black 1px;
    /* border: lavender 2px solid; */
}

#timer {
    text-align: center;
    font-size: 26px;
}
.buttons{
    width: 100%;
    /* flex-direction: row; */
    display: flex;
    /* justify-content: space-evenly; */
    
    border: lavender 2px solid;
}
button {
   
    justify-content: space-between;
    margin-right: 15px;
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}
